{% block kendodropdownlist_widget -%}
    {% set controller = 'maric-trading--kendo-dropdown-list--kendodropdownlist' %}
    <div data-controller="{{ controller }}"
         data-{{ controller}}-remote-url-value="{{ attr['remoteUrl'] }}"
         data-{{ controller }}-label-field-value="{{ attr['labelField'] }}"
         data-{{ controller }}-value-field-value="{{ attr['valueField'] }}">
        <input type="text" class="form-control" data-{{ controller }}-target="input"
            name="{{ full_name }}"
        >
        </input>
    </div>
{%- endblock %}
